-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: vengg
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `dep`
--

DROP TABLE IF EXISTS `dep`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dep` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `date_create` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dep`
--

LOCK TABLES `dep` WRITE;
/*!40000 ALTER TABLE `dep` DISABLE KEYS */;
/*!40000 ALTER TABLE `dep` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fname`
--

DROP TABLE IF EXISTS `fname`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fname` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `date_create` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fname`
--

LOCK TABLES `fname` WRITE;
/*!40000 ALTER TABLE `fname` DISABLE KEYS */;
INSERT INTO `fname` VALUES (1,'เธเธฒเธข','2019-08-10 17:45:49'),(2,'เธเธฒเธ','2019-08-10 17:45:50'),(3,'เธเธฒเธเธชเธฒเธง','2019-08-10 17:45:50'),(4,'เธเธฑเธเธเนเธฒเน€เธญเธ',NULL),(5,'เธ.เธ•.เธญ.',NULL),(6,'เธเธ—.',NULL),(7,'เธช.เธ•.เธญ.',NULL);
/*!40000 ALTER TABLE `fname` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `group`
--

DROP TABLE IF EXISTS `group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `group` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `date_create` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `group`
--

LOCK TABLES `group` WRITE;
/*!40000 ALTER TABLE `group` DISABLE KEYS */;
/*!40000 ALTER TABLE `group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `holiday`
--

DROP TABLE IF EXISTS `holiday`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `holiday` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `holiday_date` date NOT NULL,
  `holiday_name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `holiday`
--

LOCK TABLES `holiday` WRITE;
/*!40000 ALTER TABLE `holiday` DISABLE KEYS */;
INSERT INTO `holiday` VALUES (2,'2026-05-13','เธงเธฑเธเธเธทเธเธกเธเธเธฅ'),(3,'2026-05-04','เธงเธฑเธเธเธฑเธ•เธฃเธกเธเธเธฅ'),(4,'2026-06-01','เธงเธฑเธเธซเธขเธธเธ”เธเธ”เน€เธเธขเธงเธฑเธเธงเธดเธชเธฒเธเธเธนเธเธฒ');
/*!40000 ALTER TABLE `holiday` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `line`
--

DROP TABLE IF EXISTS `line`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `line` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `token` varchar(255) DEFAULT NULL,
  `status` smallint(6) DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `line`
--

LOCK TABLES `line` WRITE;
/*!40000 ALTER TABLE `line` DISABLE KEYS */;
INSERT INTO `line` VALUES (1,'admin','',1),(2,'ven','',0),(3,'ven_admin','',0);
/*!40000 ALTER TABLE `line` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profile`
--

DROP TABLE IF EXISTS `profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `profile` (
  `id` int(11) NOT NULL,
  `user_id` varchar(255) DEFAULT NULL,
  `id_card` varchar(255) DEFAULT NULL,
  `fname` varchar(25) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `sname` varchar(255) DEFAULT NULL,
  `img` varchar(255) DEFAULT NULL,
  `birthday` date DEFAULT NULL,
  `bloodtype` varchar(255) DEFAULT NULL,
  `dep` varchar(255) DEFAULT NULL,
  `workgroup` varchar(255) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `bank_account` varchar(100) DEFAULT NULL,
  `bank_comment` varchar(200) DEFAULT NULL,
  `status` smallint(6) DEFAULT 10,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `st` smallint(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profile`
--

LOCK TABLES `profile` WRITE;
/*!40000 ALTER TABLE `profile` DISABLE KEYS */;
/*!40000 ALTER TABLE `profile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(255) NOT NULL,
  `auth_key` varchar(32) DEFAULT NULL,
  `password_hash` varchar(255) NOT NULL,
  `password_reset_token` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `role` smallint(6) NOT NULL DEFAULT 1,
  `status` smallint(6) NOT NULL DEFAULT 10,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `password_reset_token` (`password_reset_token`)
) ENGINE=InnoDB AUTO_INCREMENT=1680162007 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ven`
--

DROP TABLE IF EXISTS `ven`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ven` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `ven_com_id` varchar(255) DEFAULT NULL,
  `ven_com_idb` varchar(255) DEFAULT NULL,
  `ven_date` date NOT NULL,
  `ven_time` varchar(255) NOT NULL,
  `ven_month` varchar(255) NOT NULL,
  `vn_id` int(11) DEFAULT NULL,
  `vns_id` int(11) DEFAULT NULL,
  `DN` varchar(250) DEFAULT NULL,
  `ven_com_name` varchar(255) DEFAULT NULL,
  `ven_com_num_all` varchar(255) DEFAULT NULL,
  `ven_name` varchar(255) DEFAULT NULL,
  `u_role` varchar(255) DEFAULT NULL,
  `price` decimal(10,2) DEFAULT NULL,
  `color` varchar(255) DEFAULT NULL,
  `gcal_id` varchar(255) DEFAULT NULL,
  `ref1` varchar(255) DEFAULT NULL,
  `ref2` varchar(255) DEFAULT NULL,
  `file` varchar(255) DEFAULT NULL,
  `comment` varchar(255) DEFAULT NULL,
  `status` int(11) DEFAULT NULL,
  `update_at` datetime DEFAULT NULL,
  `create_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1777466841 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ven`
--

LOCK TABLES `ven` WRITE;
/*!40000 ALTER TABLE `ven` DISABLE KEYS */;
/*!40000 ALTER TABLE `ven` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ven_change`
--

DROP TABLE IF EXISTS `ven_change`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ven_change` (
  `id` varchar(255) NOT NULL,
  `ven_month` varchar(255) DEFAULT NULL,
  `ven_date1` varchar(255) DEFAULT NULL,
  `ven_date2` varchar(255) DEFAULT NULL,
  `ven_com_id` varchar(255) DEFAULT NULL,
  `ven_com_num_all` varchar(255) DEFAULT NULL,
  `DN` varchar(255) DEFAULT NULL,
  `u_role` varchar(255) DEFAULT NULL,
  `ven_id1` int(11) DEFAULT NULL,
  `ven_id2` int(11) DEFAULT NULL,
  `ven_id1_old` int(11) DEFAULT NULL,
  `ven_id2_old` int(11) DEFAULT NULL,
  `user_id1` int(11) DEFAULT NULL,
  `user_id2` int(11) DEFAULT NULL,
  `s_po` int(11) DEFAULT NULL,
  `s_bb` int(11) DEFAULT NULL,
  `file` varchar(255) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `ref1` varchar(255) DEFAULT NULL,
  `ref2` varchar(255) DEFAULT NULL,
  `comment` varchar(255) DEFAULT NULL,
  `create_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ven_change`
--

LOCK TABLES `ven_change` WRITE;
/*!40000 ALTER TABLE `ven_change` DISABLE KEYS */;
/*!40000 ALTER TABLE `ven_change` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ven_com`
--

DROP TABLE IF EXISTS `ven_com`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ven_com` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ven_com_num` varchar(255) DEFAULT NULL,
  `ven_com_date` varchar(255) DEFAULT NULL,
  `ven_month` varchar(255) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `vn_id` int(11) DEFAULT NULL,
  `comment` varchar(255) DEFAULT NULL,
  `file` varchar(255) DEFAULT NULL,
  `ref` varchar(255) DEFAULT NULL,
  `create_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1777000554 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ven_com`
--

LOCK TABLES `ven_com` WRITE;
/*!40000 ALTER TABLE `ven_com` DISABLE KEYS */;
INSERT INTO `ven_com` VALUES (1776932612,'50/2569','2026-04-20','2026-05','1',27,NULL,NULL,'VH0MoWeF56P2x1NwuTIC',NULL),(1776934648,'51/2569','2026-04-20','2026-05','1',24,NULL,NULL,'5OsLyqhirwmIt6vTugDo',NULL),(1776946678,'50/2569','2026-04-20','2026-05','1',28,NULL,NULL,'xM5jOrqBpLwK6lRFSnGv',NULL),(1777000553,'50/2569','2026-04-20','2026-05','1',25,NULL,NULL,'Kf5XNpl9OM83ouQzhwq4',NULL);
/*!40000 ALTER TABLE `ven_com` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ven_excluded`
--

DROP TABLE IF EXISTS `ven_excluded`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ven_excluded` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `ven_name` varchar(255) NOT NULL,
  `ven_month` varchar(7) NOT NULL COMMENT 'YYYY-MM',
  `day` tinyint(2) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_exclusion` (`user_id`,`ven_name`,`ven_month`,`day`),
  KEY `idx_ven_month` (`ven_month`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ven_excluded`
--

LOCK TABLES `ven_excluded` WRITE;
/*!40000 ALTER TABLE `ven_excluded` DISABLE KEYS */;
/*!40000 ALTER TABLE `ven_excluded` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ven_name`
--

DROP TABLE IF EXISTS `ven_name`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ven_name` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `DN` varchar(255) DEFAULT NULL,
  `srt` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ven_name`
--

LOCK TABLES `ven_name` WRITE;
/*!40000 ALTER TABLE `ven_name` DISABLE KEYS */;
INSERT INTO `ven_name` VALUES (24,'เธเธทเนเธเธเธน/เธ•เธฃเธงเธเธชเธญเธเธเธฒเธฃเธเธฑเธ','เธเธฅเธฒเธเธงเธฑเธ',4),(25,'เธซเธกเธฒเธขเธเธฑเธ-เธเนเธ','เธเธฅเธฒเธเธเธทเธ',1),(26,'เธเธนเนเธ•เธฃเธงเธ(เธเธฅเธฒเธเธเธทเธ)','เธเธฅเธฒเธเธเธทเธ',5),(27,'เธจเธฒเธฅเนเธเธงเธเนเธฅเธฐเธเธดเธเธฒเธฃเธ“เธฒเธเธณเธฃเนเธญเธเธเธญเธเธฅเนเธญเธขเธเธฑเนเธงเธเธฃเธฒเธง','เธเธฅเธฒเธเธงเธฑเธ',2),(28,'เน€เธงเธฃเน€เธเธดเธ”เธ—เธณเธเธฒเธฃเธเธดเธเธฒเธฃเธ“เธฒเธเธณเธฃเนเธญเธเธเธญเธเธฅเนเธญเธขเธเธฑเนเธงเธเธฃเธฒเธง','เธเธฅเธฒเธเธงเธฑเธ',3);
/*!40000 ALTER TABLE `ven_name` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ven_name_sub`
--

DROP TABLE IF EXISTS `ven_name_sub`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ven_name_sub` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `ven_name_id` int(11) NOT NULL,
  `price` int(11) DEFAULT NULL,
  `color` varchar(255) DEFAULT NULL,
  `srt` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=131 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ven_name_sub`
--

LOCK TABLES `ven_name_sub` WRITE;
/*!40000 ALTER TABLE `ven_name_sub` DISABLE KEYS */;
/*!40000 ALTER TABLE `ven_name_sub` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ven_user`
--

DROP TABLE IF EXISTS `ven_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ven_user` (
  `vu_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `order` int(2) DEFAULT NULL,
  `vn_id` int(11) NOT NULL,
  `vns_id` int(11) DEFAULT NULL,
  `comment` varchar(255) DEFAULT NULL,
  `create_at` datetime DEFAULT NULL,
  PRIMARY KEY (`vu_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=1178 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ven_user`
--

LOCK TABLES `ven_user` WRITE;
/*!40000 ALTER TABLE `ven_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `ven_user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-30 11:35:55
