<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FNU</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../dist/css/sweetalert2.min.css">
    <link rel="stylesheet" href="../dist/css/app.css">
</head>

<body>

    <div class="content" id="app" v-cloak>
        <ul class="nav justify-content-center pt-3">
            <li class="nav-item">
                <!-- <a class="nav-link active" aria-current="page" href="#">Active</a> -->
            </li>
            <li class="nav-item">
                
                    <select class="form-select" name="month" id="month" v-model="month" @change="loadData()">
                        <option value="01">มกราคม</option>
                        <option value="02">กุมภาพันธ์</option>
                        <option value="03">มีนาคม</option>
                        <option value="04">เมษายน</option>
                        <option value="05">พฤษภาคม</option>
                        <option value="06">มิถุนายน</option>
                        <option value="07">กรกฎาคม</option>
                        <option value="08">สิงหาคม</option>
                        <option value="09">กันยายน</option>
                        <option value="10">ตุลาคม</option>
                        <option value="11">พฤศจิกายน</option>
                        <option value="12">ธันวาคม</option>
                    </select>                
            </li>
            <li class="nav-item">
                <select class="form-select" name="year" id="year" v-model="year" @change="loadData()">
                    <option v-for="y in year_select" :value="y">{{y+543}}</option>
                </select>
            </li>
            <li class="nav-item">
            <button type="button" class="btn btn-primary" @click="loadData()">FIND</button>
            </li>
        </ul>
        <div class="row">
            <div class="col-12 text-center p-2">
                <h3>
                    เวรเดือน {{month_text}} จำนวน {{datas.length}} ราย
                </h3>
            </div>
            <div class="col-8">
                <table  class="table">
                    <thead>                        
                        <tr>
                            <td class="text-center">ลำดับ</td>
                            <td class="text-center">ชื่อ</td>
                            <td class="text-center">☀️</td>
                            <td class="text-center">🌙</td>
                            <td class="text-center" v-for="vc in ven_coms">{{vc.vn_name}}</td>
                            <td class="text-end">จำนวนเงิน</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="data,index in datas" >
                                <td class="text-center">{{index + 1}}</td>
                                <td>{{data.name}}</td>
                                <td class="text-center">{{data.D_c}}</td>
                                <td class="text-center">{{data.N_c}}</td>
                                <td class="text-center" v-for="dva in data.vcs_arr">{{dva.v_count}}({{dva.price}})</td>
                                <td class="text-end">{{data.price_sum}}</td>                    
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td :colspan="4 + ven_coms.length" class="text-end">รวมทั้งสิ้น</td>
                            <td class="text-end">{{formatCurrency(price_all)}}</td>
                        </tr>
                    </tfoot>                    
                </table>
                <!-- {{datas}} -->
            </div>
            <div class="col-4">
                <table class="table">
                    <thead>
                        <tr>
                            <td colspan="2" class="text-center">รายการ <a href="../../dashboard/index.php" target="_blank" rel="noopener noreferrer">โปรแกรมตารางเวร</a></td>
                            <td> <a href="./bank/index.html" target="_blank">ตั้งค่าบัญชีธนาคาร</a></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="vcs in ven_coms">
                            <td></td>
                            <td>
                                {{vcs.ven_com_num}} {{vcs.ven_name}}
                            </td>
                            <td>
                                <a :href="'./report_a0.html?ven_com_id='+vcs.id" target="_blank">ใบขวางสรุป </a> 
                                <!-- <a :href="'./report_b0.html?ven_com_id='+vcs.id" target="_blank">หน้างบประกอบการอนุมัติ({{vcs.ven_com_num}}) </a> -->
                            </td>
                        </tr>
                        
                        <tr>
                            <td colspan="2"></td>
                            <td ><a :href="'./report_x1.html?month='+year+'-'+month" target="_blank">หน้างบประกอบ(ทุกคำสั่ง)</a></td>
                        </tr>
                        <!-- <tr>
                            <td colspan="2"></td>
                            <td ><a :href="'./report_x2.html?month='+year+'-'+month" target="_blank">รายละเอียดการเงิน(ศจ.ชัยนาท)</a></td>
                        </tr> -->
                        <!-- <tr>
                            <td colspan="2"></td>
                            <td ><a :href="'./report_x3.html?month='+year+'-'+month" target="_blank">รายละเอียดการเงิน(ศาลอาญาคดีทุจริต.7)</a></td>
                        </tr> -->
                        <tr>
                            <td colspan="2"></td>
                            <td ><a href="#" @click="download_docx()">บันทึกขออนุมัติเบิกเงิน(.docx)</a></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="dist/js/vue@2.6.14.js"></script>
    <script src="dist/js/axios.min.js"></script>
    <script src="../dist/js/sweetalert2.min.js"></script>

    <script>
    var url_base = window.location.protocol + '//' + window.location.host;
    var url_base_app = window.location.protocol + '//' + window.location.host + '/fnu/ven/';
    var url_base_now = window.location.href;
    // console.log(url_base_now);
    // localStorage.setItem("token", "e29ckg9929");
    // localStorage.clear()


    var appMenu = new Vue({
        el: '#app',
        data() {
            return {
                datas           : [],
                price_all       : 0,
                ven_coms       : [],
                day_num         : 0,
                holiday_num     : 0,
                DN_D_PRICE_DAY  : 0,
                DN_N_PRICE_DAY  : 0,
                DN_total        : 0,
                month           : '',
                year            : '',
                year_select     : [],
                month_text      : '',
                isLoading       : false
            }
        },
        mounted: function() {
            this.getYM();
            this.loadData();
            this.yearSelect();
        },
        
        methods: {
            loadData() {
                
                let month = this.year + '-' + this.month
                axios.post('./api/index_get_data_all.php',{
                    month:month
                })
                    .then(response => {
                        if (response.data.status) {
                            this.datas = response.data.datas;
                            this.month_text = response.data.month;
                            this.price_all = response.data.price_all
                            this.ven_coms = response.data.ven_coms
                            this.DN_D_PRICE_DAY = response.data.DN_D_PRICE_DAY
                            this.DN_N_PRICE_DAY = response.data.DN_N_PRICE_DAY
                            this.day_num = response.data.day_num
                            this.holiday_num = response.data.holiday_num
                            Swal.fire({
                            // position: 'top-end',
                                icon: 'success',
                                title: response.data.message,
                                showConfirmButton: false,
                                timer: 1500
                            })
                            // this.PRICE_ALL()
                        } else {
                            this.datas = [];
                            Swal.fire({
                            // position: 'top-end',
                                icon: 'error',
                                title: response.data.message,
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                        // console.log(response.data.message);
                        // console.log(response.status);
                    })
                    .catch(function(error) {

                        console.log(error);
                        // Toast.fire({
                        //     icon: 'error',
                        //     title: 'เกิดข้อผิดพลาด ' + error
                        // })
                    })
                    .finally(() => {
                        // this.PRICE_ALL()
                    })
            },
            download_docx(){
                // console.log('download_docx')
                let month = this.year + '-' + this.month
                this.isLoading = true;
                axios.post('api/report_docx.php',{month:month})
                .then(response => {
                    if (response.data.status) {
                        this.alert("success",response.data.message,timer=1000)
                        window.open('api/ven.docx','_blank')
                    } else{
                        this.alert("warning",response.data.message,timer=0)
                    }
                })
                .catch(function (error) {
                    console.log(error);
                })
                .finally(() => {
                    this.isLoading = false;
                })
            },
            find(){
                console.log(this.year + '-' + this.month) ;
            },
            DN_D_ALL(){
                return this.holiday_num * this.DN_D_PRICE_DAY;                            
            },
            DN_N_ALL(){
                return this.day_num * this.DN_N_PRICE_DAY;                            
            },
            DN_TOTAL(){
                return this.DN_D_ALL() + this.DN_N_ALL();                            
            },
            PRICE_ALL(){
                let p_all = 0;
                for (let i = 0; i < this.datas.length; i++) {
                    p_all += (datas[i].D_price + datas[i].N_price)
                }
                this.price_all = formatCurrency(p_all); 
            },
            getYM(){
                let MyDate = new Date();
                let MyDateString;
                // MyDate.setDate(MyDate.getDate() + 20);
                MyDateString = MyDate.getFullYear() + '-' + ("0" + (MyDate.getMonth()+1)).slice(-2);
                this.year = MyDate.getFullYear();
                this.month = ("0" + (MyDate.getMonth()+1)).slice(-2);
                // console.log(MyDateString);
            },
            yearSelect(){
                let MyDate = new Date();
                for (let i = -1; i <= 5; i++) {
                    console.log(i);
                    this.year_select.push(MyDate.getFullYear() + i) 
                }

            },
            formatCurrency(number) {
                number = parseFloat(number);
                return number.toFixed(0).replace(/./g, function(c, i, a) {
                    return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
                });
            },
            alert(icon,message,timer=0){
                swal.fire({
                    icon: icon,
                    title: message,
                    showConfirmButton: false,
                    timer: timer
                });
            },

        },

    });
    </script>
</body>

</html>